
body{
    background-image: url("/eat-food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    display: flow-root;
    
  }
  

  #navbarScroll{
    color: rgb(0, 0, 0);
  }
  
  
  
  #logo{
    height: 30px;
    width: 50px;
    margin-right: 30px;
    size: 30px;
  }
  
  #logo-name{
    font-family:cursive;
    color:rgb(238, 33, 33);
    font-weight: bold;
    justify-content: center;
    font-size: 22px;
    margin-right: 50px;
  }
  
  #navbarScrollingDropdown{
    font-weight: bold;
    margin-right: 0;
  }
  
  .lex{
    display: flex;
    margin-left: 370px;
  }
  
  #logsin{
    margin-left: 20px;
    margin-right: 0px;
    border: 3px solid rgb(105, 151, 215);
    border-radius: 15px;
    font-weight: bold;
  }
  #logsin:hover{
    background-color: #4f2830;
    color: white;
  }  
  
  .nav-ele{
    font-weight: bold;
  }
  
  header{
    position:fixed;
    z-index:9999;
    margin-top: 0%;
    background-color: transparent;
    margin-bottom:2% ;
    width: 100%;
  }

  
  
 
  
  

  
  
  
   